// Put your custom SCSS code here
.home h1 {
    /* font-size: calc(1.375rem + 1.5vw); */
    font-size: calc(1.875rem + 1.5vw);
    /* background: #7D02CF; */
    background: linear-gradient(to right, #EF0FFF 15%, #1FC9CF 89%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
